
.br-footer {
    display: none;
}

footer {
    background-color:#FFC0FF;
    clear:both;
    height: 100vh;

    background-image: url(../img/bg-booking-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_title_h4 {
    padding-top: 1.5625rem;

    font-family: "Lora";
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(224, 164, 94);
    text-transform: uppercase;
    text-align: center;
}
.footer_title_h2 {
    font-family: "Lora";
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;

    text-align: center;
}
.footer_text {
    padding-top: 1.25rem;
    
    font-family: "Lora";
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
}
.footer_adress_text {
    padding-top: 1.25rem;
    
    font-family: "Lora";
    font-size: .9rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.9;
}

.footer-social-icons {
    padding-top: 1.25rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon {
    margin-right: 0.625rem;
    width: 2.1875rem;
    height: auto;

    transition: .1s linear;
}

.footer-icon:hover {
    filter: brightness(115%);
}

@media only screen and (max-width: 1920px) {

}
 

@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 992px) {
    
}


@media only screen and (max-width: 768px) {

    footer {
        height: auto;
        background-color: #4a221a;
        background-position: bottom;
        background-size: auto;
    }
    .footer_title_h2 {
        padding-top: 1.25rem;
        font-size: 1.375rem;
    }
    .footer_title_h2 img {
        width: 65px;
    }
    .footer_text {
        font-size: 0.875rem;
    }
    .br-footer {
        display: block;
    }
    .footer_title_h4 {
        font-size: 14px;
    }
    .footer_adress_text {
        padding-top: 0.625rem;
        font-size: 0.75rem;
    }
    .footer-social-icons {
        padding-bottom: 1.875rem;
    }

}


@media only screen and (max-width: 576px) {

}


@media only screen and (max-width: 376px) {

}