
.form-container {
    /* border: solid 1px black; */
    margin-top: 2.5rem;
    position: relative;
}

.name-input, .telephone-input, .date-input, .time-input, .people-input, .message-input {
    background: none;
    border: none;
    border-bottom: dotted 2px #e0a45e;
    color: #e0a45e;
    font-family: "Lora";
    font-weight: 700;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    margin: 0 0 1.25rem 0;
    padding: 0 0 0.3125rem 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s;
}

.name-input:focus, .telephone-input:focus, .people-input:focus, .message-input:focus {
    outline: none;
    padding: 0 0 0.3125rem 0;
}

.form-message {
    float: none;
}

.form-name, .time-input {
    float: left;
    width: 47%;
}

.form-telephone, .date-input {
    float: right;
    width: 47%;
}

.people-input {
    /* background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right; */
    outline: none;
}

.people-input::-ms-expand {
    display: none;
}

.people-input {
    width: 100%;
}

.message-input {
    line-height: 150%;
    height: 5rem;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {color: #e0a45e; opacity: 1;}
:-moz-placeholder {color: #e0a45e; opacity: 1;}
::-moz-placeholder {color: #e0a45e; opacity: 1;}
:-ms-input-placeholder {color: #e0a45e; opacity: 1;}

:focus::-webkit-input-placeholder {opacity: .5;}
:focus::-moz-placeholder          {opacity: .5;}
:focus:-moz-placeholder           {opacity: .5;}
:focus:-ms-input-placeholder      {opacity: .5;}

.form-btn {
    width: 12.5rem;
    padding: 0.75rem;

    background-color: unset;
    color: #e0a45e;
    font-family: "Lora";
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #e0a45e;
    border-radius: 50px;
    cursor: pointer;

    transition-duration: 0.4s;
}
.form-btn:hover {
    background-color: #e0a45e;
    color: #4a221a;
}