

.intro_slider {
  top: 9.375rem;
}

.intro_slider__wrapper {
  overflow: hidden;
}

.intro_slider__item {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;

  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  will-change: transform;
}

.intro_slider__item_active {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
      opacity: 0.2;
  }
  to {
      opacity: 1;
  }
}

.intro_slider {
  position: relative;
}
  
.intro_slider__wrapper {
  overflow: hidden;
}
  
  .intro_slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  
.intro_slider__transition-none {
  transition: none;
}

/* кнопки влево и вправо */
.intro_slider__btn {
  position: absolute;
  top: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8125rem;
  height: 3.4375rem;
  color: #5C2612;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background:  transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;

  /* Плавное появление фона при наведении курсора: */
  transition: .3s ease;
}

.intro_slider__btn_hide {
  display: none;
}

.intro_slider__btn_prev {
  left: 0.3125rem;
} 
.intro_slider__btn_next {
  right: 0.3125rem;
}
.intro_slider__btn_prev:hover {
  border-radius: 3px 0 0 3px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  outline: 0;
}
.intro_slider__btn_next:hover {
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  outline: 0;
}

@media only screen and (max-width: 1920px) {

}
 

@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 992px) {

  .intro_slider {
    top: 60px;
  }
  .intro_content {
    left: 7%;
  }

}


@media only screen and (max-width: 768px) {

  .intro_slider {
    top: 120px;
  }
  .intro_content {
    left: 7%;
  }
  .intro_content {
    flex-direction: column;
  }
  .intro_slider__item {
    height: 400px;
  }

}


@media only screen and (max-width: 576px) {

}


@media only screen and (max-width: 376px) {

}