

.intro {
    position: relative;
    width: 100%;
    height: 100vh;

    background-color: #fff5e9;
    background-repeat: no-repeat;
    background-size: cover; 

    background-image: url(../img/bg-slider-home02-1.jpg);
    background-position: center;
}
.intro_img {
    position: absolute;
    bottom: 0;
    opacity: .2;
    background-color: #fff5e9;
}
/* Слайдер: */
.intro_slider {
    top: 9.375rem;
    max-width: 100%;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 18.75rem;
}
/* Картинка масштабируется по отношению к родительскому элементу: */
.intro_slider .intro_slide_item {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 28.125rem;
}
/* Кнопки назад и вперёд: */
.intro_slider .previous, .intro_slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 1.375rem;
    padding: 1.25rem;
    /* Оформление самих кнопок: */
    color: #5C2612;
    font-weight: bold;
    font-size: 1rem;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.intro_slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении курсора на кнопки добавляем фон кнопок: */
.intro_slider .previous:hover,
.intro_slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Анимация слайдов: */
.intro_slider .intro_slide_item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
.intro_slide_item {
    position: relative;
}
.intro_content {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.intro_content_img {
    height: auto;
    width: 37.5rem;
}
.intro_content div {
    display: flex;
    flex-direction: column;
    max-width: 34.375rem;
}
.intro_before_title {
    font-family: "Lora";
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(118, 76, 36);
    line-height: 1.5;
    text-transform: uppercase;
    
    margin-bottom: 0.625rem;
}
.intro_title {
    font-family: "Lora";
    font-style: italic;
    font-size: 3.125rem;
    font-weight: 700;
    color: rgb(74, 34, 26);
    line-height: 1;

    margin-bottom: 0.625rem;
}
.intro_after_title {
    font-family: "Lora";
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(70, 70, 70);
    line-height: 1.5;

    margin-bottom: 1.875rem;
}
.intro-btn {
    width: 10.625rem;
    padding: 0.75rem;

    background-color: unset;
    color: rgb(74, 34, 26);
    font-family: "Lora";
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(74, 34, 26);
    border-radius: 50px;

    transition-duration: 0.4s;
}
.intro-btn:hover {
    background-color: rgb(74, 34, 26);
    color: white;
}


@media only screen and (max-width: 1920px) {

}
 

@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 992px) {

    .intro_content_img {
        width: 25rem;
    }
    .intro_before_title {
        font-size: 0.875rem;
        margin-bottom: 0.3125rem;
    }
    .intro_title {
        font-size: 1.5625rem;
    }
    .intro_after_title {
        font-size: 0.875rem;
        margin-bottom: 0.9375rem;
    }
    .intro-btn {
        font-size: 0.875rem;
    }

}


@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 576px) {

}


@media only screen and (max-width: 376px) {

}